{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/spinner.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/not_logged_home.css') }}" rel="stylesheet">
{% endblock head %}

{% block body %}
{% if session.loggedIn is defined and session.loggedIn == true and session.reauth is defined and session.reauth == false %}
<script>window.location = "{{ url_for('basic_page.show', page='discover') }}";</script>
{% else %}
<div class="page-center" id="lone-spinner">
    {% include 'spinner.html' %}
</div>

<div class="container" id="main-content" style="display: none;">
    <div class="page-center">
        <h1>Listen to amazing local artists.<br/>Get your own music heard.</h1>
        <div>
            <div id="loading">
                {% include 'spinner.html' %}
            </div>
            <div>
                <!--hack way to get button background to display properly-->
                <button id="fblogin_btn" class="btn-primary btn-lg"
                onclick="openLoginDialog();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>

<script>
    function loneToMainContent() {
        if ($('#lone-spinner').length && $('#main-content').length) {
            $('#lone-spinner').hide();
            $('#main-content').show();
        }
    }

    // This is called with the results from from FB.getLoginStatus().
    function toggleLoadAndFb(showFb) {
        if (showFb) {
            $('#loading').hide();
            $('#fblogin_btn').show();
        } else {
            $('#fblogin_btn').hide();
            $('#loading').show();
        }
    }

    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            // hide fb button. show loading
            toggleLoadAndFb(false);
            // Logged into your app and Facebook
            $.post('/svc/auth/login', response.authResponse, function(success) {
                if (success === true) {
                    console.log('success from auth');
                    window.location = "{{ url_for('basic_page.show', page='discover') }}";
                } else {
                    $.post('/svc/auth/logout');
                    loneToMainContent();
                    toggleLoadAndFb(true);
                }
            });
        } else {
            $.post('/svc/auth/logout');
            loneToMainContent();
            toggleLoadAndFb(true);
        }
    }

</script>

<!-- always load fb sdk async -->
<script type="text/javascript" src="{{ url_for('static', filename='js/fbLogin.js') }}"></script>

{% endif %}

{% endblock body %}
