body {
    padding-top: 70px;
}

.navbar-default {
    background-color: #2d8478;
    border-color: #d34747;
    font-family: 'Oswald', sans-serif;
}

.navbar-fixed-top {
    border-width: 0 0 3px;
}

.navbar-default .navbar-nav>li>a {
    color: #ffa3a3;
}

.navbar-default .navbar-brand {
    color: #f57373;
    font-size: 24px;
}

.navbar-header a.navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #d0f19a;
  background-color: transparent;
}

.navbar-default .navbar-toggle, icon-bar {
  border-color: #ffa3a3;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffa3a3;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #489a8e;
}