html, body {
  height: 100%;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
}

.container {
    height: 100%;
    width: 100%;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    background-image: url("../images/girl_listen_public_full.jpg");
}

.page-center {
    width: 100%;
}

/* Change to h3 in small device */
@media only screen and (max-width : 480px) {
h1 {
    font-size: 1.5em;
    margin-before: 1em;
    margin-after: 1em;
}
}

