{% extends "navbar.html" %}
{% block page_title %}Local Listen - Discover{% endblock page_title %}
{% block page_desc %}Find your favorite styles of music, played by local artists.{% endblock page_desc %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/discover.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/lib/listgroup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/discover.js') }}"></script>
{% endblock head %}

{% block body %}
{{ super() }}

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-sm-4">
            <form>
                <input type="text" class="form-control" placeholder="Search Genres">
            </form>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" data-unsp-sanitized="clean">Your Genres</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="javascript:genre_clicked()" class="list-group-item active" data-unsp-sanitized="clean">
                          Cras justo odio
                        </a>
                        <a href="javascript:genre_clicked()" class="list-group-item" data-unsp-sanitized="clean">Dapibus ac facilisis in</a>
                        <a href="javascript:genre_clicked()" class="list-group-item" data-unsp-sanitized="clean">Morbi leo risus</a>
                        <a href="javascript:genre_clicked()" class="list-group-item" data-unsp-sanitized="clean">Porta ac consectetur ac</a>
                        <a href="javascript:genre_clicked()" class="list-group-item" data-unsp-sanitized="clean">Vestibulum at eros</a>
                    </div>
                </div>
            </div> <!--panel-->
        </div>
        <div class="col-sm-8">
            <h2 class="playing-title">Now Playing</h2>
            <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            <p>To see the difference between static and fixed top navbars, just scroll.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
            </p>
        </div>
    </div>
</div> <!-- /container -->

{% endblock body %}